body {
    margin: 0;
    padding: 0;    
}

header nav img {
    width: 50px;
    display: none;
}

nav {
    font-family: 'Caveat', cursive;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;
}


header nav .menu {
    display: flex;
    justify-content: space-between;
    width: 60%;
}


nav a {
    text-decoration: none;
    color: black;
  }


main h2 {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size: 3rem;
    text-align: center;
}

.contact {
    display: flex;
    justify-content: space-around;

}


@media only screen and (max-width: 768px) {

    header nav img {
        display: unset;
    }

    header nav .menu {
       position: absolute;
       top: 7rem;
       left: 50%;
       display: block;
       width: 50%;
       background-color: rgb(100, 92, 92);
       opacity: 0;
       height: max-content;
       transition: opacity 500ms ease-in-out;
    
    }

    .menu p {
        border-bottom: 0.7px solid rgb(223, 196, 196);
        padding-inline-start: 1rem;
        margin-top: 4rem;
        padding-block-end: 1rem;
    }
}

@media only screen and (max-width: 526px) {
    .contact {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

    }

    .contact i {
        width: 30%;
        margin: 1rem;
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width:320px) {
    .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}